.weather-window{
    height: 300px;
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
